table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th {
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  .form-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-container label,
  .form-container input,
  .form-container button {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-container label {
    font-weight: bold;
  }
  
  .form-container input[type="text"] {
    width: 100%;
   
  }